@(epubList: List[java.util.Map[String, Object]])

@main("Welcome to Play Framework") {

    <div class="well">
        <ul>
        @for(epub <- epubList) {
            <li>@epub</li>
            <li>FirstTitle：@epub("FirstTitle")</li>
            <li>Authors：@epub("Authors")</li>
            <li>Language：@epub("Language")</li>
            <li>Descriptions：@epub("Descriptions")</li>
            <li>Dates：@epub("Dates")</li>
            <li>Contributors：@epub("Contributors")</li>
            <li>Publishers：@epub("Publishers")</li>
            <li>Identifiers：@epub("Identifiers")</li>
        }
        </ul>
    </div>
}
