@(message: String)

@main("Welcome to Play Framework") {

    <div class="well">
        <h1>@message</h1>
        <ul>
            <li><a href="/addPerson">add person</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/uploadForm">upload page</a></li>
            <li><a href="/uploadsForm">upload pages</a></li>
            <li><a href="/addePubPage">add ePub Page</a></li>
            <li><a href="/addePub">addePub</a></li>
            <li><a href="/editePub">editePub</a></li>
            <li><a href="/getePub">getePub</a></li>
            <li><a href="/allPerson">all Person</a></li>
            <li><a href="/allePub">all ePub</a></li>
            <li><a href="/searchePub">search ePub</a></li>
            <li><a href="/createePub">create ePub</a></li>
            <li><a href="/createePubFromCHM">create ePub From CHM</a></li>
            <li><a href="/createePubFromRss">create ePub From Rss</a></li>
        </ul>
        @*<h1><img src="@routes.Assets.at("images/test.png")"></h1>*@
    </div>

}
