@(message: String)

@main("Welcome to Play Framework") {

    <div class="well">
        <h1>@message</h1>
        <ul>
            <h4>about user</h4>
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/addPerson">add person</a></li>
            <li><a href="/allPerson">all Person</a></li>
        </ul>
        <ul>
            <h4>upload</h4>
            <li><a href="/uploadForm">upload page</a></li>
            <li><a href="/uploadsForm">upload pages</a></li>
        </ul>
        <ul>
            <h4>add get edit ePub</h4>
            <li><a href="/addePubPage">add ePub Page</a></li>
            <li><a href="/allePub">all ePub</a></li>
            <li><a href="/getePub">getePub（not complete）</a></li>
            <li><a href="/createePub">create ePub from folder</a></li>
        </ul>
        <ul>
            <h4>search ePub</h4>
            <li><a href="/searchePub">search ePub（need to do）</a></li>
        </ul>
        <ul>
            <h4>convert ePub</h4>
            <li><a href="/docx2ePub">create ePub From docx(through folder)</a></li>
            <li><a href="/email2ePub">create ePub From email</a></li>
            <li>*********************************************************************</li>
            <li><a href="/docePub">create ePub From doc(through read)</a></li>
            <li><a href="/txtePub">create ePub From txt(through read)</a></li>
            @*<li><a href="/createePubFromCHM">create ePub From CHM（need to do）</a></li>*@
            @*<li><a href="/createePubFromRss">create ePub From Rss（need to do）</a></li>*@
        </ul>
        @*<ul>*@
            @*<li><a href="/register">register</a></li>*@
            @*<li><a href="/login">login</a></li>*@
            @*<li><a href="/addPerson">add person</a></li>*@
            @*<li><a href="/uploadForm">upload page</a></li>*@
            @*<li><a href="/uploadsForm">upload pages</a></li>*@
            @*<li><a href="/addePubPage">add ePub Page</a></li>*@
            @*<li><a href="/addePub">addePub</a></li>*@
            @*<li><a href="/editePub">editePub</a></li>*@
            @*<li><a href="/getePub">getePub</a></li>*@
            @*<li><a href="/allPerson">all Person</a></li>*@
            @*<li><a href="/allePub">all ePub</a></li>*@
            @*<li><a href="/searchePub">search ePub</a></li>*@
            @*<li><a href="/createePub">create ePub</a></li>*@
            @*<li><a href="/createePubFromCHM">create ePub From CHM</a></li>*@
            @*<li><a href="/createePubFromRss">create ePub From Rss</a></li>*@
            @*<li><a href="/docePub">create ePub From doc</a></li>*@
            @*<li><a href="/txtePub">create ePub From txt</a></li>*@
            @*<li><a href="/docToHtml">create Html From doc</a></li>*@
        @*</ul>*@
        @*<h1><img src="@routes.Assets.at("images/test.png")"></h1>*@
    </div>

}
